# Rutas locales
DATA_LAKE_DIR=./data_lake
DB_PATH=./local_analytics.duckdb

# Instrumento
MT5_SYMBOL=XAUUSDm

# MetaTrader 5
MT5_LOGIN=
MT5_PASSWORD=
MT5_SERVER=

# Zonas horarias
OPERATING_TIMEZONE=America/Bogota
BROKER_TIMEZONE=Europe/Athens